[user]
	name = Jérôme Poskin
	email = jerome@moinax.com
[core]
	autocrlf = input
	pager = hunk pager
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[alias]
	cleanup = "!sh -c 'git fetch -p && git for-each-ref --format \"%(refname:short) %(upstream:track)\" refs/heads/ | awk \"/\\\\[gone\\\\]/ {print \\$1}\" | xargs -r -n 1 git branch -D; git branch --merged main --format \"%(refname:short)\" | grep -v \"^main$\" | xargs -r -n 1 git branch -d'"
	fp = push --force-with-lease
	pr = pull --rebase
	cm = checkout main
[init]
	defaultBranch = main
[color]
	ui = auto
[push]
	default = current
